/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  display: block;
  margin: 5px auto;
  text-align: center;
  border-radius: 12px;
  border: 0.5px solid #cbcacd;
  width: 450px;
  box-shadow: 1px 1px 6px lightgray;
}

img {
  width: 100px;
}

#header {
  color: #183865;
  font-family: "Muli", "Microsoft JhengHei", sans-serif;
  font-weight: 700;
  font-size: 20px;
  -webkit-text-size-adjust: 100%;
  padding: 10px 0 5px;
}

#hero {
  display: flex;
  justify-content: space-around;
  background-color: #cbcacd;
  padding: 30px 15px 0px;
  margin: 0px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

#role {
  font-family: "Muli", "Microsoft JhengHei", sans-serif;
}

#chs-background {
  max-width: 80px;
  background-color: #3f2b97;
  color: white;
  margin: 0px;
  font-weight: 100;
  font-size: 28px;
  padding: 3px 32px;
}

#eng-background {
  max-width: 80px;
  margin: 0px;
  background-color: #7d2349;
  color: white;
  font-weight: 300;
  font-size: 18px;
  padding: 10px 32px;
}

#qrcode {
  margin-top: 30px;
  background-image: url(./images/capQrcode.png);
  width: 144px;
  height: 144px;
  background-size: cover;
}

#emptySpace {
  margin: 0;
  width: 230px;
  height: 320px;
  background-color: white;
}

#name {
  font-weight: 800;
  margin-bottom: 0px;
}

#month-el {
  margin: 3px;
  font-size: 27px;
  font-weight: 800;
  font-family: sans-serif;
}

#time-el {
  margin: 4px;
  font-size: 27px;
  font-weight: 800;
  font-family: sans-serif;
}

#capLogo {
  display: block;
  padding: 0px;
  margin: 0;
  width: 450px;
  text-align: start;
}

#footer {
  display: block;
  margin: 0 auto 25px;
}

#validUntil {
  padding-top: 10px;
  font-family: "Muli", "Microsoft JhengHei", sans-serif;
  font-weight: 600;
  font-size: 27px;
}

#changingDate {
  display: block;
  font-family: sans-serif;
  font-size: 40px;
  min-width: 400px;
  margin: 2px 0;
  font-weight: 800;
}

#changingDate:before {
  color: #01b18d;
  content: "4 Sep 2022";
  animation: animate infinite linear 2s;
}

@keyframes animate {
  35% {
    content: "4 Sep 2022";
    color: #01b18d;
  }

  50% {
    content: "2022 年 9 月 4 日";
    color: white;
  }

  85% {
    content: "2022 年 9 月 4 日";
    color: white;
  }
}

.box {
  display: inline-block;
  padding: 8px 0;
  height: 50px;
  width: 400px;
  margin-bottom: 0;
  background-color: white;
  border: 1px solid #01b18d;
  animation: animate1 infinite linear 2s;
}

@keyframes animate1 {
  35% {
    background-color: white;
    border: 1px solid #01b18d;
  }

  50% {
    background-color: #01b18d;
  }

  85% {
    background-color: #01b18d;
  }
}
