@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/muli-v12-latin-ext_latin-300.eot);
  src: local("Muli Light"), local("Muli-Light"),
    url(/fonts/muli-v12-latin-ext_latin-300.woff2) format("woff2");
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/muli-v12-latin-ext_latin-600.eot);
  src: local("Muli SemiBold"), local("Muli-SemiBold"),
    url(/fonts/muli-v12-latin-ext_latin-600.woff2) format("woff2");
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/muli-v12-latin-ext_latin-regular.eot);
  src: local("Muli Regular"), local("Muli-Regular"),
    url(/fonts/muli-v12-latin-ext_latin-regular.woff2) format("woff2");
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/muli-v12-latin-ext_latin-700.eot);
  src: local("Muli Bold"), local("Muli-Bold"),
    url(/fonts/muli-v12-latin-ext_latin-700.woff2) format("woff2");
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/muli-v12-latin-ext_latin-800.eot);
  src: local("Muli ExtraBold"), local("Muli-ExtraBold"),
    url(/fonts/muli-v12-latin-ext_latin-800.woff2) format("woff2");
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/muli-v12-latin-ext_latin-900.eot);
  src: local("Muli Black"), local("Muli-Black"),
    url(/fonts/muli-v12-latin-ext_latin-900.woff2) format("woff2");
}

body {
  font-family: "Muli", "Microsoft JhengHei", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #30383b;
  -webkit-font-smoothing: antialiased;
}

.root {
  box-sizing: border-box;
  max-width: 1500px;
  margin: 0px auto;
  padding: 0 25px;

  color: #333;
  line-height: 1.43em;
  letter-spacing: 0.58px;
}

.card-container {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

#card-wrapper {
  position: relative;
  width: 1090px;
  height: 1766px;
  background: url("/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  overflow: hidden;

  transform-origin: 0% 0%;
}

#card-wrapper .photo {
  position: absolute;
  top: auto;
  bottom: 784px;
  left: 456px;
  width: 560px;
  height: 750px;
  background: white;
  display: block;
  place-items: flex-start;
  align-items: flex-end;
}

#card-wrapper .identity {
  position: absolute;
  top: 237px;
  left: 58px;
  font-size: 40px;
}

#card-wrapper .identity > * {
  display: block;
  line-height: 1.5em;
  text-align: center;
  color: white;
}

#card-wrapper .identity .type-chinese {
  background-color: #3f2b97;
  width: 320px;
  font-size: 60px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  line-height: 1em;
}

#card-wrapper .identity .type-english {
  background-color: #7c2348;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#card-wrapper .names {
  position: absolute;
  top: 1024px;
  left: 456px;
  font-weight: 900;
  letter-spacing: 0;
  font-size: 54px;
  line-height: 1.2em;
  width: 560px;
  text-align: center;
}

#card-sizer {
  width: 100%;
  height: 100%;
}
